{% extends "allauth/layouts/entrance.html" %}

{% load i18n %}
{% load allauth account %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}
  <div class="card-header">
    <h2 class="card-title">Redefinir Senha</h2>
    <p class="card-description">Esqueceu sua senha? Digite seu e-mail abaixo e enviaremos instruções para redefini-la.</p>
  </div>
  <div class="card-content">
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% url 'account_reset_password' as reset_url %}
    {% element form form=form method="post" action=reset_url tags="entrance,password_reset" %}
    {% slot body %}
    {% csrf_token %}
    {% element fields form=form unlabeled=True %}
  {% endelement %}
  {{ redirect_field }}
{% endslot %}
{% slot actions %}
{% element button type="submit" tags="prominent,password_reset" %}
{% trans 'Enviar Instruções' %}
{% endelement %}
{% endslot %}
{% endelement %}
</div>
{% endblock content %}
