{% load static crispy_forms_tags i18n %}

{% if force_password_change %}
  <div class="alert alert-warning" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <strong>Atenção!</strong> É necessário alterar sua senha antes de continuar usando o sistema.
  </div>
{% endif %}
<h5 class="text-secondary">
  <i class="fa-solid fa-key"></i> Alterar Senha
</h5>
<form method="post"
      action="{% url 'users:custom_password_change' %}"
      class="password_change"
      id="id_password_change_form">
  {% csrf_token %}
  {{ password_change_form|crispy }}
  <button class="primaryAction btn btn-dark fw-bold text-uppercase"
          type="submit"
          name="action"
          hx-post="{% url 'users:custom_password_change' %}"
          hx-target="#tab-content"
          hx-swap="innerHTML"
          hx-include="#id_password_change_form">
    <i class="fa-solid fa-arrows-rotate"></i> Alterar Senha
  </button>
</form>
