{% load static crispy_forms_tags i18n %}

<div class="tab-pane fade p-3"
     id="security-tab-pane"
     role="tabpanel"
     aria-labelledby="security-tab"
     tabindex="0">
  <h5 class="text-secondary">
    <i class="fa-solid fa-key"></i> Alterar Senha
    <hr class="border border-secondary opacity-25" aria-hidden="true" />
    <form method="post"
          action="{% url 'account_change_password' %}"
          class="password_change"
          id="id_password_change_form">
      {% csrf_token %}
      {{ password_change_form|crispy }}
      <button class="primaryAction btn btn-dark fw-bold text-uppercase"
              type="submit"
              name="action">
        <i class="fa-solid fa-arrows-rotate"></i> Alterar Senha
      </button>
    </form>
  </h5>
</div>
