{% load static crispy_forms_tags i18n %}

<h5 class="text-secondary">
  <i class="fa-solid fa-key"></i> Alterar Senha
</h5>
<form method="post"
      action="{% url 'account_change_password' %}"
      class="password_change"
      id="id_password_change_form">
  {% csrf_token %}
  {{ password_change_form|crispy }}
  <button class="primaryAction btn btn-dark fw-bold text-uppercase"
          type="submit"
          name="action">
    <i class="fa-solid fa-arrows-rotate"></i> Alterar Senha
  </button>
</form>
