# General
# ------------------------------------------------------------------------------
export USE_DOCKER=no
export IPYTHONDIR=/app/.ipython
# Redis
# ------------------------------------------------------------------------------
export REDIS_URL=redis://redis:6379/0

# Celery
# ------------------------------------------------------------------------------

# Flower
export CELERY_FLOWER_USER=tnfAPUdzMTnAWBgCBIGFJpVyTlfNZBsx
export CELERY_FLOWER_PASSWORD=mXKhd3jI5QtUkn5Ww6I6dSiO0tVCIKxRJMbNgV0S1FjeK6dUVU8V6PwUgXz6R7UC

# Bacen API
# ------------------------------------------------------------------------------
export BACEN_API_DICT_BASEURL=https://www3.bcb.gov.br/bc_ccs/rest
export BACEN_API_DICT_USER=EJUHN.S-APICCS
export BACEN_API_DICT_PASSWORD=EFezh2Vt
export BACEN_API_DICT_CPF_TEST=12345678909
export BACEN_API_DICT_CNPJ_TEST=12345678000195

# PostgreSQL
# ------------------------------------------------------------------------------
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_DB=consultalab
export POSTGRES_USER=HVxmnIwYmCOpXSPoZfeWmTjsghTksYvS
export POSTGRES_PASSWORD=yWXuRosVdOOh3uUFSOz83NqKaBrnpP7fT1mA9Cxvry3ON9cPgWKYXRc2YKbTi1u2
export DATABASE_URL=postgresql://HVxmnIwYmCOpXSPoZfeWmTjsghTksYvS:yWXuRosVdOOh3uUFSOz83NqKaBrnpP7fT1mA9Cxvry3ON9cPgWKYXRc2YKbTi1u2@localhost:5432/consultalab
