{% extends "base.html" %}

{% load i18n static %}

{% block bodyclass %}
  bg-light
{% endblock bodyclass %}
{% block css %}
  {{ block.super }}
{% endblock css %}
{% block title %}
  {% block head_title %}
    {% trans "Sign In" %}
  {% endblock head_title %}
{% endblock title %}
{% block body %}
  <div class="container-fluid p-0 m-0">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    <div class="form-side">
      <div class="form-wrapper">
        <div class="logo-section">
          <div class="logo">
            <img src="{% static 'images/consultalab_logo.png' %}"
                 alt="Logo"
                 class="logo-image" />
          </div>
          <h1 class="app-name">
            Consulta<span class="fw-bolder">LAB</span>
          </h1>
        </div>
        <div class="card">
          {% block content %}
          {% endblock content %}
          {% block extra_body %}
          {% endblock extra_body %}
        </div>
      </div>
    </div>
    <!-- Right Side - Decorative -->
    <div class="decorative-side cl-bg">
      <div class="decorative-content">
        {% comment %} <div class="decorative-logo">
            <img src="{% static 'images/cl_wallpaper.png' %}" alt="Logo" class="decorative-logo-image" />
        </div> {% endcomment %}
        {% comment %} <div class="decorative-text">
            <h3>Bem-vindo de volta</h3>
            <p>Acesse sua conta e continue aproveitando todos os recursos da nossa plataforma</p>
          </div>
          <div class="decorative-dots">
            <div class="dot inactive"></div>
            <div class="dot active"></div>
            <div class="dot inactive"></div>
        </div> {% endcomment %}
      </div>
    </div>
  </div>
{% endblock body %}
