<div class="row">
  <div class="col d-flex justify-content-end align-items-center mb-3">
    <button class="btn btn-sm btn-outline-primary cl-outline-primary"
            hx-get="{% url 'users:create' %}"
            hx-target="#modals-create-user"
            hx-trigger="click"
            data-bs-toggle="modal"
            data-bs-target="#modals-create-user">
      <i class="bi bi-plus-circle me-1"></i>
      Adicionar usuário
    </button>
  </div>
</div>
<div class="row">
  <div class="col">
    <input class="form-control mt-2"
           type="search"
           name="search"
           value="{{ search_term|default:'' }}"
           placeholder="Nome ou e-mail do usuário"
           hx-post="{% url 'audit:users_search' %}"
           hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
           hx-target="#users-table-container"
           hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' />
  </div>
</div>
<div class="row">
  <div class="col-md table-responsive" id="users-table-container">
    {% include "audit/partials/includes/users_table.html" %}
    {% if users.has_other_pages %}
      {% include "audit/partials/includes/pagination.html" with hx_target="tab-content" %}
    {% endif %}
  </div>
</div>
<!-- Modal Create User -->
<div id="modals-create-user"
     class="modal modal-blur fade"
     aria-hidden="false"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
       role="document">
    <div class="modal-content"></div>
  </div>
</div>
