<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header d-flex align-items-center justify-content-between">
      <h5 class="modal-title">
        <i class="bi bi-person-fill me-1 mt-1"></i> <span class="text-muted">{{ user.name }}</span>
      </h5>
      <a class="btn btn-sm btn-info"
         role="button"
         href="#"
         hx-get="{% url 'users:user_admin_section_update_view' user.id %}"
         hx-target="#modals-create-user"
         hx-trigger="click"
         data-bs-toggle="modal"
         data-bs-target="#modals-create-user">
        <i class="bi bi-pen text-success me-2 text-black"></i>
        <span class="fw-bold">Editar</span>
      </a>
    </div>
    <div class="modal-body container">
      <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">
          {{ user.name|default:"-----" }}
        </dd>
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">
          {{ user.email }}
        </dd>
        <dt class="col-sm-3">Data de Criação</dt>
        <dd class="col-sm-9">
          {{ user.date_joined }}
        </dd>
        <dt class="col-sm-3">Último Login</dt>
        <dd class="col-sm-9">
          {{ user.last_login }}
        </dd>
        <dt class="col-sm-3">Ativo</dt>
        <dd class="col-sm-9">
          {% if user.is_active %}
            <i class="bi bi-check-circle-fill text-success"></i>
          {% else %}
            <i class="bi bi-x-circle-fill text-danger"></i>
          {% endif %}
        </dd>
        <dt class="col-sm-3">Permissões</dt>
        <dd class="col-sm-9">
          {% with perms=user.get_user_permissions %}
            {% if perms %}
              {% for perm in user.get_user_permissions %}
                <span class="badge text-bg-{{ perm.badge_class }}">{{ perm.text }}</span>
              {% endfor %}
            {% else %}
              <span class="badge text-bg-secondary">Nenhuma permissão</span>
            {% endif %}
          {% endwith %}
        </dd>
        <dt class="col-sm-3">Órgão/Unidade</dt>
        <dd class="col-sm-9">
          {{ user.department.name|default:"-----" }}
        </dd>
      </dl>
    </div>
    <div class="modal-footer">
      <button type="button"
              class="btn btn-secondary fw-bold"
              data-bs-dismiss="modal">
        <i class="bi bi-x-lg"></i> Fechar
      </button>
    </div>
  </div>
</div>
